
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;700&display=swap);

/*-----------------------------
reset css
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  color: #313131;
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-display: swap;
}
nav ul {
  list-style: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
body {
  background-image: url(../img/common/bg-noise-wht.png);
  background-repeat: repeat;
}

/*-----------------------------
共通部分
-----------------------------*/
.min {
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
}
.flx {
  display: flex;
}
.clm {
  flex-direction: column;
}
.jfc_sb {
  justify-content: space-between;
}
.jfc_c {
  justify-content: center;
}
.aic {
  align-items: center;
}

/*-----------------------------
Header
-----------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.8s;
}
.header__inner {
  padding-left: 3%;
}
.logo {
  width: 120px;
  margin-right: 20px;
}
.header__logo p {
  font-size: 1.2rem;
}
.nav-box {
  align-items: flex-end;
  margin-bottom: 10px;
}
.toggle-btn {
  width: 100px;
  height: 100px;
  padding: 37px;
  background-color: #000;
  cursor: pointer;
  transition: all 0.3s;
}
.toggle-btn span {
  height: 2px;
  background-color: #949292;
  transition: all 0.3s;
}
.toggle-btn span:first-child {
  width: 27px;
}
.toggle-btn span:last-child {
  width: 17px;
  margin: 10px auto 0 0;
}
.toggle-btn:hover span {
  width: 27px;
  background-color: #fff;
}

/*-----------------------------
toggle-btn/open
-----------------------------*/
.open .toggle-btn {
  background: transparent;
}
.open .toggle-btn span {
  width: 27px;
  background-color: #fff;
  z-index: 500;
}
.toggle-btn.open span:first-child {
  margin-top: 10px;
  transform: rotate(45deg);
}
.toggle-btn.open span:last-child {
  margin-top: -2px;
  transform: rotate(-45deg);
}
.open .header__logo {
  pointer-events: none;
  opacity: 0;
}

/*-----------------------------
sp-menu
-----------------------------*/
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 0 30px;
  margin: 0 auto;
}
#sp-menu:before {
  content: "";
  background: url(../img/common/bg-noise.png);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sp-menu:after {
  content: "";
  position: absolute;
  right: 11%;
  bottom: 3%;
  width: 28%;
  height: 26%;
  background: url(../img/common/menu-logo.png) no-repeat;
  background-size: 100%;
  z-index: -1;
}
.inner {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}
.sp-heading {
  padding-bottom: 30px;
}
.sp-heading img {
  width: 47%;
}
.sp-heading__list {
  padding-top: 37px;
}
.sp-heading__item {
  position: relative;
  color: #fff;
  font-size: 1.8rem;
  margin: 0 30px;
}
.sp-heading__item:after {
  content: "";
  position: absolute;
  top: 25%;
  right: -27px;
  width: 15px;
  height: 15px;
  background: url(../img/common/blank-gray.png) center no-repeat;
  background-size: 15px;
}
.sp-content {
  padding: 50px 0 40px;
  flex-direction: row-reverse;
  border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.sp-content__item {
  width: 9%;
  opacity: 0.2;
  cursor: pointer;
  transition: all 0.3s;
}
.sp-content__item:hover {
  opacity: 1;
}
.sp-footer {
  width: 65%;
}
.sp-footer__heading {
  color: #787878;
  margin: 40px 0 20px;
  font-size: 2rem;
}
.sp-footer__item {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.sp-footer__item::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  color: #787878;
}
.sp-footer__item:hover {
  opacity: 0.3;
}